/*
 * @规则
 *   @charset 设置样式表的编码
 *   @import  导入其字样式文件 
 *   @meida 媒体查询
 */
@import 'resets.css';
@font-face {
 font-family: 'iconfont';
  /*src表示引入字体文件*/
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),/*加format是为让浏览器先知道*/
      url('../font/iconfont.woff2') format('woff2'),/*woff是网页字体*/
      url('../font/iconfont.woff') format('woff'),/*woff是网页字体 网页开发设计 加载快使用方便*/
      url('../font/iconfont.ttf') format('truetype'),/*ie9 高版本支持*/
      url('../font/iconfont.svg#iconfont') format('svg');/*svg是一种图形 可以画任意图*/
}
.iconfont {
    font-family:"iconfont" !important;  /*字体样式*/
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;  /*非标准样式 */ 
/*    -webkit-text-stroke-width: 0.2px;  */   
    -moz-osx-font-smoothing: grayscale;   /*针对火狐*/
}
/*导航栏*/
#wrapper{

  
}
#wrapper .header{
	width: 1210px;
	margin: 0 auto;

}
#wrapper .header .header-h{   /*外框*/
	height: 46px;
}
#wrapper .header-h .verserl{  /*上方下移*/
  margin: 10px 0 0 0;
}
#wrapper .header-h .verserl a{  /*整体右侧距离*/
	margin-right: 17px;
	color:#898d9f;
}
/*我的帐号 资料 购买*/
#wrapper .header .header-e h3{
	  font-weight: normal;
	  font-size:13px;
	  margin: 10px 11px 0 0;
}
#wrapper .header .header-e a{
	 margin-left: 40px;
	 	color:#898d9f;
}
 /*中间线*/
 #wrapper  .column{  
	width: 100%;
	height:2px;
	background-color: #eff1f9;
	margin-bottom: 30px;
}

/*搜索栏*/
#search{
	width: 1210px;
	height: 52px;
	background-color:cadetblue;
	margin:0 auto;
}
#search .content-c{
	font-size: 27px;
	color: #6b6f81;
	font-weight: 600;
	letter-spacing: 1px; /*字之间的距离*/
}
/*电子商务主题*/
#search{
	font-size: 16px;
}
#search p{
	font-size: 12px;
}
#search h1{
  height: 52px;
  width: 200px;
  background-color: chartreuse;
}
/*项目 ul*/
#search  .search-one{
	width: 174px;
	height: 52px;
	background-color: blueviolet;
	margin:-52px 0 0 0;  
}
#search  .search-one a{  /*字体颜色*/
	color: white;
} 
#search  .search-one .sav-a{  /*0项目 li*/
  margin: 5px 0 5px 10px;
} 
/*手提带*/
#search .search-one li span{
	font-size: 25px;
	margin: -10px 17px -15px 10px;
}

/*头部搜索*/
#seadSearch{
/*	background-color: wheat;*/
/*	padding: 24px 0 10px 0;*/
}
#seadSearch h1{
	display: block;
	width: 194px;
	height: 58px;
	margin: -8px 0 0 0;
	
}
#seadSearch h1 p{  /*电子商务主题*/
	font-size: 12px;
	color: #828593;
  font-weight: 100;
}
#seadSearch h1 a{  /*康杰*/
	color: #6b6f81;
	font-size: 27px;
}
/*右边*/
#seadSearch .code{
  width: 174px;
  height: 52px;
  background-color:#666ee8;
  color:white;
 
}
#seadSearch .code .btn-s{
  width: 160px;
  height: 40px;
  margin:6px 3px 6px 10px;
}
#seadSearch .code .btn-s a{
  margin: 9px 3px 4px 0;
	font-size: 22px;
	color:white;
}
/*中间*/
#seadSearch .search{ 
	width: 739px;
	margin: 0 auto;
}
#seadSearch .searchContent{
	height: 52px;
	width: 739px;
}
#seadSearch .searchBox{
	width: 611px;  /*中间框长度*/
	height: 52px;
	box-sizing: border-box; /*盒模型 给maging padding都不会受影响*/
	border: 1px solid #dddfe7;
	border-right:none;/*取消右边框线*/
	overflow: hidden; /*隐藏突出*/
	position:relative;/*父级给相对定位*/
}
#seadSearch .searchBox input{
	width: 611px;
	height: 48px;
	line-height: 48px;
  outline: none;  /*去除鼠标点上的的边框*/
  border: none;    /*去除实际边框*/
  text-indent:10px; 
  position: absolute;
  z-index: 2;

 /*里面字颜色*/
  text-shadow: 0 0 0 #898ea2;
  -webkit-text-fill-color: transparent;
}
/*input*/
#seadSearch .searchBox .search-field{
	margin: 3px 0 0 30px;
	font-size: 14px;
	
}
/*放大镜 文字*/
#seadSearch .searchBox .placeholfer{
	position: absolute;
	top: 15px;   /*上给出8px*/
	left: 14px; /*搜索产口 放大镜左边给出14px*/
}
/*搜索图标*/
#seadSearch .placeholfer i{
	color:#9c9c9c;
	font-size:21px;
}
/*搜索产品*/
#seadSearch .placeholfer span{
	color:#9c9c9c;
	vertical-align: 3px; /*往上走1px*/
}
/*照相机*/

/*右边搜索框*/
#seadSearch .btn button{
	width: 128px;
	height: 52px;
	line-height: 40px;
	background-color: #666ee8;
	text-align: center;
	font-size:14px;
	color: #fff;
	border: none;
	cursor: pointer; /*鼠标点手形状*/
}

/*家 店 部门 格式化 积木 博客  页数*/
#seadSearch .contentnav{
	width:932px;
	height:45px;
	 margin-top: 30px;
	 margin-left: -19px; /*家左边距离*/
}
#seadSearch .contentnav ul li a{
	padding: 0 5px;
  margin: 0 15px;
  color: #6b6f81;
  font-size: 15px;
} 
/*ul a字体颜色*/
#seadSearch .contentnav .colors{
	color:#8a91ff;
}

#seadSearch .contentnav a:hover{ /*字体伪类*/
	color:#8a91ff;
}
/*第二条线*/
#seadSearch .columnt{
	  width: 100%;
    height: 0.2px;
    background-color: #eff1f9;
    margin-bottom: 30px;
    
  /*阴影*/
    border-width: 0 0 1px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(69,73,91,.08);
    box-shadow: 0 2px 6px 0 rgba(69,73,91,.08);
}
/*轮播图*/
.wrap{
	position: relative; /*给button定位*/
	width: 100%;
	height: 466px;
}
.list{
	width: 100%;
	height: 450px;
	list-style: none;
	position: relative; /*相对定位 让重叠在一起*/
	padding-left: 0px;
}
.item{
	position: absolute;
	width:100%;
	height: 100%;
	font-size: 50px;
	opacity: 0;  /*透明度为0*/
	transition: all .8s;
}
/*第一个图*/
.content .list .inner{
	width:1200px;
	height: 450px;
/*	background-color: darkcyan;*/
	margin: 0 auto;
  
}
.list .inner{  /*左边*/
 	position:relative;
 	width:600px;
	height: 450px;
/*	background-color:#C0C4D2;*/
  cursor: pointer;

 }
 .list .inner .inner-i{
 	padding: 33px 10px 10px 51px;
 }
.list .inner img{  /*左边logo*/
	margin: 30px 0 0 0;
	width:150px;
	height:70px;
}
.list .inner .able{ /*智能扬声器*/
	font-size: 28px;
	margin: 20px 0 30px 0;
}
.list .inner .able .text{ 
	font-weight:500;
}
.list .inner .able h3{ 
	font-weight:800
}
.list .inner  p{ /*现在去购物*/
	width: 196px;
	height: 53px;
	background-color:#666EE8;
	font-size: 16px;
	color:#FFFFFF;
	text-align: center;
	line-height: 53px;
}
.list .inner  p:hover{
	
 background-color:#FF5500;
	border: solid 1px none;
	color:#FFFFFF;
}
.list .inner .iconfont{
	margin: 0 0 0 10px;
	font-size: 12px;
  font-weight:500;
}
/*右边图片*/
.list  .inner .phone{
	width:570px;
	height: 364px;
	margin:10px;
/*	background-color: darksalmon;/*粉*/
	position: relative;
}
.list  .inner .phone img{ /*右边图*/
	width:570px;
	height: 364px;
	margin:-13px;
	position: relative;
}



.item:nth-child(1){
	background:url(../img/abc.jpg) no-repeat;	
}
.item:nth-child(2){
	background:url(../img/abc.jpg) no-repeat;
}
.item:nth-child(3){
	background:url(../img/abc.jpg) no-repeat;
}
.item:nth-child(4){
	background:url(../img/abc.jpg) no-repeat;
}
.item:nth-child(5){
	background:url(../img/abc.jpg) no-repeat;
}

.btns{
	width:50px;
	height: 100px;
	position: absolute;
	top: 150px;
	z-index: 100;
}
#goPre{
	left:0px;
}
#goNext{
	 right:0px;
}
.item.active{ /*这里点不能分离*/
	opacity: 1;
	z-index: 10;
}
/*按扭列表*/
.pointList{
	padding-left: 0px;
	list-style: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	cursor:pointer;
}
.pointList .point{
	 width: 8px;
	 height: 8px;
	 background-color: rgba(0,0,0,0.4);
	 border-radius: 100%;  
	 float: left;
	 margin-left: 15px;
	 border: 2px solid #dddd;
	 
}
.point.active{  /*点列表颜色*/
	background-color: red;
}

/*像机部分 电视机  光盘*/
#main{
	background-color:#EFF1F9;
	height: 1651px;
}
#main .active1{
	width: 1170px;
	height: 436px;
	/*background-color:w;*/
	margin: auto;
	margin-bottom: 67px;
}
#main .active1 .list-t{   /*上方70 */
	height: 70px;
}
#main .list .list-s{  /*li里面的盒子*/
	width: 355px;
	height: 166px;
	margin:18px;
}
#main .active1 .list{  /*第一框*/
  box-shadow: 0px 6px 10px rgb(229, 229, 229);  /*阴影*/
 }
#main .list img{  /*相机*/
	width: 131px;
	height: 131px;
}
#main .list img:hover{  /*鼠标移入放大*/
	transform: scale(1.2);
}
 /*摄影机右侧*/
#main .list .nav-on{ 
	width: 197px;
	height: 157px;
	/*background-color: white;*/
	line-height: 31px;
	font-size: 13px;
	margin-left: 20px;
	cursor: pointer;
}
#main .list .codever{ /*摄影机字体*/
  font-size: 16px;
  color:#666ee8; 
}
#main .list li i{  /*iconfont 箭头*/
	font-size: 8px;
	margin:0 16px 0 0;
}
#main .list a{ /*字体颜色*/
	color:#898D9F;
}
#main  ul li{     /*li底部背景*/
	 display: block;
	 background-color: white;
	 width:389.3px;
	 height: 224px;
/*   margin: 0 0 0 2px;*/ 
}
#main ul .hot-subnav{  /*中间左右线*/
	margin: 0 1px 0 1px;
}
#main  ul .foot{
	margin-top: 1.5px;   /*上方细线*/
}
/*特色产品*/

.current{   /*特色产品*/
	font-size: 23px;
	text-align: center;
	margin-top: 67px;
	height: 30px;
/*	background-color: red;*/
}
.current .cur-ent{ /*字体*/
   color:#464855;
}
/*goodgle首页*/
#hot .banner{  /*页面大小*/
	width: 1170px;
	height: 846px;
	/*background-color: darkkhaki;*/
}
#hot .bangDanShop .prices{  /*流行字*/
	 font-size: 12px;
    
    line-height: 32px;
    height: 32px;
    width: 90px;
  display: block;
    background-color:#ffc06a;
}

/*上排右距离*/
#hot .banner .bangDanShop{  /*第一排三个距离*/
	margin-right: 30.2px;
}
#hot .banner .bangDanShopnomr{  /*第一排第四个左边距离*/
	margin-right: 0;
}
/*下排距离*/
#hot .banner .bangDanShop-b{  /*1-3*/
	margin-top: 30px;
	margin-right:30.2px;
}
#hot .banner .bangDanShop-a{  /*4*/
	margin-top: 30px;
	margin-right:0;
}


#hot .banner li{  /*li高度*/
	width: 269.8px;
	height: 408px;
	box-shadow: 0px 6px 10px rgb(229, 229, 229);  /*阴影*/
/*	margin: 0 19px 15px 0;*/
/*	background-color: darkcyan;*/
}
#hot .banner .content{ /*li里框*/
	width: 229px;
	height: 368px;
	/*background-color:salmon;*/ /*粉*/
	margin: 20px 20px 0 20px;
	text-align: center;
}
#hot  .content .photo:hover{ /*li里框*/
    color: #666ee8;
}
#hot .banner li img{   /*第一图音响*/
	width: 229.98px;
	height: 229.98px;
  margin: 0 0 18px 0;
}
#hot .banner li .price{ /*价格 $129.00*/
	margin: 15px 0 0 0;
}
#hot .banner .price p{ 
		color: #666ee8;
}
#hot .banner .price p:hover{ 
		color: #414b92;
}
#hot .banner .price i{  /*<i>价格</i>*/
		color: #9da1b3;
}
    
#hot .banner .shopping{ 
	margin: 18px 0 0 0; 
}
#hot .banner .shopping .iconfont{
	font-size: 17px;
	
}

#hot .banner .shopping span{ /*星*/
	color: #ffbf71;
	width: 80px;
	height: 25px;
}
#hot .banner .shopping i{  /*购物车 搜索*/
	width: 22px;
	height: 18.4px;
	margin: 0 0 0 5px;
	color: #666ee8;
	font-weight: bold;
}
/*查看所有热门产品*/
#hot{
	width: 1170px;
}
#hot .list-on{
	height: 58px;
}
#hot .has{  /*查看所有热门产品*/
	width: 194px;
	height: 41px;
	background-color:#666ee8;
  margin: 0 auto;
	line-height: 41px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
}
#hot .has:hover{
	color: #666ee8;
	background-color: #FFFFFF;
	border: solid 1px #666ee8;
	
}
/*限时优惠*/
#time{   /*外框最大*/
	background:url(../img/beats.jpg)  no-repeat  center;
	height: 759px;
	/*width:1536px;*/
	max-width:100%;
	max-height:100%; 
	background-size:cover; /*放大到适合元素容器尺寸，图片比例不变*/
	/*background-size：100% 100%; 按容器比例撑满，图片变形*/
}
#time1{   /*中间框*/
	width: 1170px;
	height: 610px;
	margin: 0 auto;	
/*	background: rgba(0,0,0,.4); /*rgb 透明*/

}
#time1 p{   /*限时优惠上方距离*/
	height: 70px;
}
#time1  .favourable{   /*限时优惠*/
	width:96px;
	height: 35.2px;
	font-size:16px;
	line-height:35.2px;
	display: block;
	text-align: center;
	background-color: #FF4961;
	color:#FFFFFF;
	margin: 0 auto;	 

}
#time1 .able{  /*听听音乐 */
	font-size: 40px;
	color: #FFFFFF;
	 text-align: center;
	margin: 16px 0 22.5px 0 ;
}
#time1 img{  
	width: 161px;
	height: 49px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
#time1 .numeral{  /*$ 349.95*/
	height: 37px;
	line-height: 37px;
	text-align: center;
/*	background-color:darkgoldenrod;*/
	margin: 5px 0 22px 0;
}
#time1 .numeral .num-n{
	color: #C0C4D2;
	text-decoration:line-through;/*数字价格划线*/
}
#time1 .numeral .num-u{
	font-size: 22px;
	margin: 0 0 0 5px;
	color: #FFFFFF;
}
/* <!--天小时 分钟 秒-->*/
#time1 li{
	width: 55.25px;
	height: 78px;
	font-size: 16px;
	display: inline-block;
	margin-right: 10px;
}
#time1 ul{
	text-align: center;
}
#time1 li .inner{  /*00*/
	width: 52.25px;
  height: 52.25px; 
	border: 1.5px solid #3b3c47;	
	color: white;
	line-height: 52.25px;
	text-align: center;
	font-size: 19px;
}
#time1 li .vert-not{  /*00*/
	color: white;
	font-size: 12px;
}


/*耳机*/
#phone-p{ /*工作人员精选1536*/
	/*width:1530px;*/
	height:608px;
	background-color:#f4f5fa;/*紫红色*/
	
}
#phone-p .ables{  /*耳机中间部分*/
	width:1170px;	
	text-align: center;
	margin: 0 auto;
}
#phone-p .ables .widget{  /*li 三个右边距离*/
	margin: 0 12px 0 11px;
}

#phone-p .ables .selected{
	text-align: center;
}
#phone-p  img{   
	width: 657px;
	height: 357px;
	margin-top:-141px;
	max-width: 100%;
	background-size：100% 100% 100% 100%;/* 按容器比例撑满，图片变形*/
	cursor: pointer;
}
 /*工作人员精选*/
#phone-p .selected{   /*精选*/
	font-size: 23px; 
	margin: 0 0 40px 0;
}
#phone-p .widget{  /*外框-包含精选 ul*/
	width: 269px;
	height: 264px;
	/*background-color: yellow;*/
}
#phone-p .widgetlitle{  /*精选下划线*/
	width:262px; 
	height: 19px;
	font-size: 14px;
	font-weight: 100;
  padding-bottom: 15px;
  border: solid 1px #dddfe7; /*下划线*/
  border-width: 0 0 1px;
}
#phone-p .products {  /*ul上*/
	margin-top: 32px;
}
#phone-p .products li{  /*框*/
	width: 262px;
	height: 59px;
	line-height: 30px;
  margin-bottom: 9px;
}
#phone-p .products img{  
	width: 50px;
	height: 50px;
  border: solid 1px #dddfe7;
  padding:2.5px;
  margin-top:0px;
} 

#phone-p .products span{  /*goodle pixlbook*/
	margin-left: 10px;
}
#phone-p .products span i{  /*goodle pixlbook*/
	font-size: 14px;
	color: #464855;
	cursor: pointer;
}
#phone-p .products span i:hover{  /*goodle pixlbook*/
	color: #666ee8;
}
#phone-p .products span p{  /*goodle pixlbook*/
	color: #6b6f81;
	font-size: 13px;
	text-align:left;
}
/*<!--免费送货 90天退货-->*/
#Delivery{
	width: 1688px;
	height:254px;
}
#Delivery .content-line{ /*1170*/
  margin: 0 auto;
  width: 1130px;
	background-color: sandybrown; 
	margin: 0 auto;
}
#Delivery .content-line .Free{ /*免费送货*/
	width:262.5px;
	height: 159.75px;
	text-align: center;
	background-color:white;
 margin: 73px 10px 45px 10px;
 text-align: center;
}
#Delivery .Free h3{ /*免费送货*/
  margin: 15px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
}
#Delivery .Free span{ /*免费送货*/
  font-size: 13.5px;
  color: #6B6F81;
}
#Delivery .content-line .sav-as { /*icon*/
	/*background-color: darkgray;*/
	width: 84px;
	height:84px;
  border:solid 2px #dddfe7;
  margin: 0 auto;
  align-items: center; /*居中对齐*/
  justify-content: center;  /*居中排列*/
  display: flex; 
}
#Delivery .sav-as .iconfont{   
    font-size:40px;
    font-style:normal;   
    color:#666ee8;
    
}
/*电影之夜在我们身边*/
#movies{   /*背景外*/
	height:378px;
	background-color:#000;
	background:url(../img/footer1.jpg) no-repeat;
  background-position: center center;  /*居中*/
  background-size: cover;   /*背景图片展开*/     
}
#movies .content{
	width: 1680px;
	margin-top: 70px;
	position: absolute;

 
}
#movies .content .dayser{  /*中间部分*/
	width: 630px;
	color: #f4f5fa;
/*  margin-top: 30px;*/
	/*background-color:#000000;*/
	margin: 0 auto;

} 
#movies .content .dayser h2{ /*电影之夜在我们*/
	font-size: 38px;
	margin: 0 0 25px 0;
	text-align: center;
}
#movies .content .day-cont{ 
	line-height: 25px;
	text-align: center;
}
#movies .content .learn{  /*框*/
  text-align: center;
}

#movies .content .more{  /*学到更多*/
	width:142px;
	height:48px;
	border: solid 1px #FFFFFF;
  line-height: 48px;
  color: white;
  margin:0 auto;
}
#movies .content .more:hover{
	background-color:#666ee8;
	border: none;
}
#movies .content .shopping{
	margin-bottom: 32px;
}

/*保持联系*/
#footer{
	height: 614px;
	background: url(../img/conj-3.png) no-repeat;
	background-color: #353745
}
#footer .colorphon{ /*中间部分*/
	width: 1170px;
	height: 349px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 37px;
}
#footer .colorphon .litle{ /*博客页面框*/
	width: 262px;
	height: 277px;
	margin-top: 30px;
  color:#FFFFFF;
  margin:30px 15px 0 15px;
 
}

/*保持联系外框*/
#footer .colorphon span{ /*博客页面*/
	width:262px; 
	height: 39px;
	font-size: 14px;
	display: block;
	border: solid 1px  #a5a8bb;
	border-width: 0 0 1px;  /*下面线*/
	/*margin-bottom: 17px;*/
}
#footer .colorphon .search-one{ /*下面字框*/
	width:262px;
	height: 218px;
}
/*前三个线*/
#footer .colorphon .litle hr{
	width:63px;
  margin:-1px 0 0 0;
	border: solid 1px #666ee8;
	border-width: 0 0 1.5px ;  /*下面线*/
}
/*最后一个线*/
#footer .colorphon .litle .Line{
	width:81px;
  margin:-1px 0 0 0;
	border: solid 1px #666ee8;
	border-width: 0 0 1.5px ;  /*下面线*/
}
#footer .colorphon ul{
	line-height: 40px;
	font-size: 14px;
 padding-top: 31px; 
 color: #a5a8bb;
}
#footer .colorphon a{
	 color:#a5a8bb;
}
#footer .colorphon a:hover{
	 color:#666ee8;	

}
/*保持联系1*/
#footer .search-one img{ /*图片框*/
	width: 20px;
	height: 20px;
	background-color: #3a3c4a;
	padding: 14px;
	margin-right: 10px;
}
#footer .search-one img:hover{
	 background-color:#666ee8;
}
#footer .search-one .mail{ /*几个框左边距离*/
	margin-left: 10px;
  cursor: pointer;
}
#footer .search-one .mail:hover{
	 color:#666ee8;	

}
#footer .search-one .mails{ 
	margin-top: 20px;	
}
#footer .search-one .feihe{
	margin: 52px 0 0 0;
}
/*我们的App4*/
#footer .search-two .windows{
	margin: 0 0 15px 0;
}
/*应用商店*/
#footer .search-two .windows .wds{ /*app*/
	width: 125px;
	height: 64px;	
	border: solid 1px #a5a8bb;
	border-radius: 5px;
	padding: 0 0 0 6px;
}
#footer .search-two .windows .wds:hover{ /*app*/
	 background-color: #464855;
}
/*Google Play*/
#footer .search-two .windows .wds-w{ /*app*/
	width: 150px;
	height: 64px;	
	border: solid 1px #a5a8bb;
	border-radius: 5px;
	padding: 0 0 0 6px;
}

/*Windows商店*/
#footer .search-two .windows .wds-d{
	width: 178px;
	height: 64px;	
	border: solid 1px #a5a8bb;
	border-radius: 5px;
	padding: 0 0 0 6px;
}
#footer .search-two img{ 
	width: 27px;
	height: 27px;
  padding: 18px 0 0 10px;
}
#footer .windows .zies{ /*在上下载*/
	position: absolute;
	margin: 0 0 0 8px;
}
#footer .windows .zies p{ /*应用商店*/
	font-size: 16px;
	margin: -13px 0 0 0;
	color: #FFFFFF;
}
#footer .windows .zies font{ /*立即下载*/
	font-size: 12px;
}

/*博客 页面完*/
#footer .partner{
	width: 1170px;
	height:181px;
	margin: 0 auto;
	border: solid 1px #a5a8bb;
  border-width: 1px 0 0 0;
}
#footer .partner .partner-litle img {
	width: 564px;
	height: 58px;
	padding:30px 0 41px 0;
}
#footer .partner .partner-litle{
	margin:20px 0 0 0;
}
/*电子邮件*/
#footer .partner .search{
	width: 564px;
	height: 58px;
	margin-top: 20px; 
}
#footer .partner .search form{
	width: 564px;
	height: 58px;
  margin: 17px 0 0 0;
}
#footer .partner .search input{
	width: 468px;
	height: 49px;
	padding: 0 0 0 17px;
  border: none;
    /*里面字颜色*/
  text-shadow: 0 0 0 #898ea2;
  -webkit-text-fill-color: transparent;
} 
#footer .partner .search button{
	width: 84px;
  height: 49px;
  margin-left: -5px;
  border: none;
  position: absolute;
  background-color:#666ee8;
  color: #FFFFFF;  

}
#footer .partner .search button:hover{
	 background-color:#FF4400;
}
#footer .partner  span{
	color: #A5A8BB;
 font-size: 14px;
 line-height: 27px;
}